<!doctype html>
<html>
	<title>Home page</title>
	<p>should probably have content here</p>
	<h1>Upload new File</h1>
	<form action="/" method=post enctype=multipart/form-data>
		<input type=file name=image>
		<select name="classifier">
			<option value="svm">Support Vector Machine</option>
			<option value="cnn">Convuluted Neural Network</option>
		</select>
		<input type=submit value=Upload>
	</form>

	{% if image_class is defined %}
	<p>image class is: {{ image_class }}</p>
	{% endif %}
</html>
	
